<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="WFConnectionString" value="server=ZGC-20120421LQO\CQY;database=workflow;uid=sa;pwd=sa;"/>-->
    <add key="WFConnectionString" value="server=.\sqlexpress;database=workflow;uid=sa;pwd=sa"/>
	</appSettings>
</configuration>