<?xml version="1.0"?>
<configuration>  
  <appSettings>
    <!--<add key="CurrentProject" value="D:\Tool\NewOA"/>-->
    <!--<add key="CurrentProject" value="C:\Users\cqy\Desktop\1"/>-->
	  <!--<add key="CurrentProject" value="../../1"/>-->
    <!--<add key="CurrentProject" value="C:\Users\cqy\Desktop\test"/>-->
	  <!--<add key="CurrentProject" value="C:\Users\Administrator\Desktop\TestG"/>-->
    <add key="CurrentProject" value="..\TestG"/>
    <!--<add key="WFConnectionString" value="server=.\cqy;database=workflow;uid=sa;pwd=sa"/>-->
    <!--<add key="WFConnectionString" value="server=.\sqlexpress;database=workflow;uid=sa;pwd=sa"/>-->
    <!--<add key="WFDBType" value="SqlServer"/>-->

    <add key="CoreId" value="amb4114"/>
    <!--<add key="NewOA_EF_Edmx" value="D:\SourceControl\amb4114_view\ast\new_oa\src\DBDesign\OADBnew.edmx"/>-->
    <add key="CRNO" value="OA150127114707"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>